.box{
    background-color: #be5d5d;
    background-image:
      url('anime.png');
    background-repeat: no-repeat;
    background-position: right top;
}
.scroll{
    background-attachment: scroll;
    /* this is default value */
}

.fixed{
    background-attachment:fixed;
}

.local{
    background-attachment:local;
}


